{% extends 'base.html.twig' %}

{%  block body %}
    <section class="container">
        <h1>{{ block('title') }}</h1>
        {{ form_errors(form) }}
        {{ form_start(form) }}
        {% block form_content %}
            {{ form_rest(form) }}
        {% endblock %}
        {{ form_end(form) }}
    </section>
{% endblock %}