{% extends 'base.html.twig' %}

{% set index_columns = index_columns | default({
    'Id' : 'id'
}) %}

{%  block body %}
    <section class="container">
        <h1>{{ block('title') }}</h1>
        {% if not app.user %}
            {% set _actions = false %}
        {% endif %}
        <div class="table-responsive">
            <table class="table  table-striped">
                <thead>
                    <tr>
                        {% for label,field in index_columns %}
                            {% set skip = false %}
                            {% if field is iterable %}
                                {% set field = field[1] %}
                                {% if field == null %}
                                    {% set skip = true %}
                                {% endif %}
                            {% endif %}
                            <th>
                                {% if skip %}
                                    {{ label | trans }}
                                {% else %}
                                    {{ label | trans }}
                                {% endif %}
                            </th>

                        {% endfor %}
                        {% if _actions | default(false) %}
                            <th>{{ 'Actions' | trans }}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% if not entities | length %}
                    {% set columns = index_columns | length + (_actions | default(false) ? 1 : 0) %}
                    <tr>
                        <td class="text-center bg-warning" colspan="{{columns}}">
                            <h3>{{"No data" | trans}}</h3>
                        </td>
                    </tr>
                {% endif %}
                {% for entity in entities %}
                    <tr>
                        {% for label,field in index_columns %}
                            <td class="">
                                {% if '{{' in field %}
                                    {% if field is not empty %}
                                        {{ include(template_from_string(field)) }}
                                    {% endif %}
                                {% else %}
                                    {% if field is iterable %}
                                        {% set field = field[0] %}
                                    {% endif %}

                                    {% set val = entity %}
                                    {% for key in field | split('.') %}
                                        {% set val = attribute(val, key) %}
                                    {% endfor %}
                                    {% if val is same as(true) %}
                                        {% set val = 'yes' | trans %}
                                    {% endif %}
                                    {% if val is same as(false) %}
                                        {% set val = 'no' | trans %}
                                    {% endif %}

                                    {% if val is iterable %}
                                        {% set val = val|join(', ') %}
                                    {% endif %}

                                    {% if val is not empty %}
                                        {{ val | trans }}
                                    {% endif %}

                                {% endif %}
                            </td>
                        {% endfor %}
                        {% if _actions | default(false) %}
                            <td class="text-right">
                                {% block actions %}
                                {% endblock %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if entities.haveToPaginate %}
        <div class="page-controls">
            {{ pagerfanta(entities, 'twitter_bootstrap4') }}
        </div>
        {% endif %}
    </section>
{% endblock %}