{% extends 'Tools\\Resource\\index.html.twig' %}

{% set index_columns = {
    'Id' : 'id',
    'Name': 'name',
    'Last name': 'lastName',
}%}

{% set _actions = true %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('AuthorEdit', {id: entity.id}) }}">Edit</a>
    <a class="btn btn-danger" href="{{ path('AuthorRemove', {id: entity.id}) }}">Remove</a>
{% endblock %}

{% block title %}
    Authors list
{% endblock %}