{% set nomenu = true %}

{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <form action="{{ path('login') }}" id="login-form" method="post">
        <div class="row">
            <div class="col-sm-4 offset-4">
                <img src="{{ asset('build/images/logo.png') }}" class="img-responsive"/>
                <hr/>
                {% if error %}
                    <div class="error-list alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-content">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="_password" />
                    </div>
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
