{% extends 'Tools\\Resource\\index.html.twig' %}

{% set index_columns = {
    'Id' : 'id',
    'Cover' : '{% if entity.cover %}<img src="/uploads/covers/{{ entity.cover }}" width="120"/>{% endif %}',
    'Title': 'title',
    'Author': 'author',
    'Tags': 'tags'
}%}

{% set _actions = true %}

{% block actions %}
    <a class="btn btn-primary" href="{{ path('BookEdit', {id: entity.id}) }}">Edit</a>
    <a class="btn btn-danger" href="{{ path('BookRemove', {id: entity.id}) }}">Remove</a>
{% endblock %}

{% block title %}
    Books list
{% endblock %}