@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

form [type="submit"]{
  margin-top: 32px;
}

.custom-file label {
  background: #000;
  border-radius: 4px;
  color: #FFF;
  padding: 5px;
}