{% extends 'bootstrap_4_layout.html.twig' %}

{% macro addCollectionButton(collection_form_group_id, translate_domain) %}
    <div class="collection-buttons">
        <button class="btn btn-secondary" type="button" data-collection-id="{{ collection_form_group_id }}">{{ 'app.resource.addPosition' | trans({}, translate_domain) }}</button>
    </div>
{% endmacro %}

{% macro removeCollectionRowButton(translate_domain) %}
    <div class="table-cell collection-buttons text-center">
        <button class="btn btn-danger" type="button" data-collection-remove data-tooltip="{{ 'app.resource.removePosition' | trans({}, translate_domain) }}"><i class="fa fa-trash"></i></button>
    </div>
{% endmacro %}

{% block collection_widget %}
    {% import _self as macros %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_markup = form_row(prototype) %}
            {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
            {% set data_prototype_label = form.vars.form.vars.prototype.vars.label|default('__name__label__') %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({
    'data-prototype': prototype_markup,
    'data-prototype-name': data_prototype_name,
    'data-prototype-label': data_prototype_label
    })|merge(attr) %}
        {% endif %}
        {# Add row by default use attr.class to change#}
        {% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}
        {% endif %}
        {# collection item adds class {form_id}_form-group  too #}
        {% set widget_form_group_attr = widget_form_group_attr|merge({'id': 'collection' ~ id ~ '_form_group', 'class': widget_form_group_attr.class ~ ' collection-items app-collection-control collection-table ' ~ id ~ '_form_group'}) %}

        {{ macros.addCollectionButton(widget_form_group_attr.id, form.vars.translation_domain) }}

        <div {% for attrname,attrvalue in widget_form_group_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {# Add initial prototype form #}
            {% if form.vars.value|length == 0 and prototype is defined %}
                {#{% for name in prototype_names %}
                    {{ prototype_markup|replace({'__name__': name})|raw }}
                {% endfor %}#}
            {% endif %}
            {% if prototype is defined %}
                <div class="table-row collection-table-header">
                    {% for item in prototype %}
                        {% if item.vars.hide_item is not defined or not item.vars.hide_item %}
                            <div class="{{ item.vars.widget_form_group_attr.class }} table-cell table-header">{{ item.vars.label|trans }}</div>
                        {% endif %}
                    {% endfor %}
                    {% if allow_delete %}
                        <div class="table-cell table-header text-center"><i class="fa fa-trash"></i></div>
                    {% endif %}
                </div>
            {% endif %}
            {{ block('form_widget') }}
        </div>

        {{ macros.addCollectionButton(widget_form_group_attr.id, form.vars.translation_domain) }}
    {% endspaceless %}
{% endblock collection_widget %}



{% block form_row %}
    {% import _self as macros %}
    {% spaceless %}
        {% if 'tab' in form.vars.block_prefixes %}
            {{ block('form_tab') }}        
        {% else %}

            {{ block('widget_form_group_start') }}                  

            {{ form_label(form) }}
            {{ form_widget(form, _context) }}
            
            {% set type = type|default('text') %}             

            {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes and form.parent.vars.allow_delete|default(false) %}
                {{ macros.removeCollectionRowButton(form.vars.translation_domain) }}
            {% endif -%}
            {{ block('widget_form_group_end') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block widget_form_group_start %}
    {% if widget_form_group|default(false) or form.parent == null %}
        {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes %} {# i am a collection child #}
            {% if not omit_collection_item %}
                {# collection item wrapper doesnt need form-group it gets added to childs anyways #}
                {% set widget_form_group_attr = widget_form_group_attr|merge({class: ' collection-item table-row'}) %}
            {% endif %}
        {% endif %}
        {% if errors|default([])|length > 0 %}
            {# Add Error Class to Widget Wrapper#}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}
        {% endif %}        
        <div {% for attrname,attrvalue in widget_form_group_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {# a form item containing the field in block_prefixes is a near subform or a field directly #}
            {#{% if (form|length > 0 and form.parent != null) and 'field' not in form.vars.block_prefixes and 'datedatepic' not in form.vars.block_prefixes %}                #}
                {#{{ form_label(form, label|default(null)) }}                                    #}
            {#{% endif %}                   #}
        {% endif %}
{% endblock widget_form_group_start %}

{% block widget_form_group_end %}
{% spaceless %}
    {% if widget_form_group|default(false) or form.parent == null %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock widget_form_group_end %}

{% block button_row %}
    {% spaceless %}

        {{ block('widget_form_group_start') }}

        {{ form_widget(form) }}

        {{ block('widget_form_group_end') }}

    {% endspaceless %}
{% endblock button_row %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {% if datepicker is defined %}
                {% set embedded_date = false %}

                {%if form.parent and form.parent.vars.block_prefixes[1] == 'filter_date_range' %}
                    {% set embedded_date = true %}
                    {% set widget_form_group_attr = widget_form_group_attr | merge({'class' : widget_form_group_attr.class ~ ' pull-left input-group date'}) %}
                {% endif %}
                {% set widget_addon_icon = widget_addon_append.icon is defined ? widget_addon_append.icon : 'calendar' %}

                <div data-provider="datepicker"  data-date="{{ value }}"
                     data-link-field="{{ id }}" data-link-format="{{ ui_format }}">

                    {% if embedded_date and label_render %}
                        <div class="embedded-date-label">
                        {{ form_label(form, label|default(null)) }}
                        </div>
                        <div  class="embedded-date-field pull-left input-group date">
                    {% endif %}
                    <input {% if widget_form_control_class is defined %}class="{{ widget_form_control_class }}" {% endif %}
                                                                                  type="text"
                                                                                  value="{{ value }}" {% if required %} required="required"{% endif %} {{ block('widget_attributes') }}>
                    {% if embedded_date and label_render %}
                        </div>
                    {% endif %}

                </div>
            {% else %}
                {{ block('form_widget_simple') }}
            {% endif %}
        {% else %}
            {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
            <div class="row">
                {{ date_pattern|replace({
                    '{{ year }}':  '<div class="'~date_wrapper_class['year']|default('col-xs-4')~'">'~form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ ''}})~'</div>',
                '{{ month }}': '<div class="'~date_wrapper_class['month']|default('col-xs-4')~'">'~form_widget(form.month, {'attr': {'class': attr.widget_class|default('') ~ ''}})~'</div>',
                '{{ day }}':   '<div class="'~date_wrapper_class['day']|default('col-xs-4')~'">'~form_widget(form.day, {'attr': {'class': attr.widget_class|default('') ~ ''}})~'</div>',
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form{% if name != '' %} name="{{ name }}"{% endif %} method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        <div class="row">
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

{%- block form_end -%}
    {%- if not render_rest is defined or render_rest -%}
        {{ form_rest(form) }}
    {%- endif -%}
        </div>
    </form>
{%- endblock form_end -%}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% if type != 'hidden' and ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null or widget_btn_prepend|default(null) is not null or widget_btn_append|default(null) is not null ) %}
            <div class="input-group">
            {% if widget_btn_prepend|default(null) is not null %}
                {% set widget_btns = widget_btn_prepend %}
                {{ block('widget_btns') }}
            {% endif %}
            {% if widget_addon_prepend|default(null) is not null %}
                {% set widget_addon = widget_addon_prepend %}
                {{ block('widget_addon') }}
            {% endif %}
        {% endif %}
        {% if not widget_remove_btn|default(null) %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' not-removable'}) %}
        {% endif %}


            {{ parent() }}

        {% if type != 'hidden' and ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null or widget_btn_prepend|default(null) is not null or widget_btn_append|default(null) is not null ) %}
            {% if widget_addon_append|default(null) is not null %}
                {% set widget_addon = widget_addon_append %}
                {{ block('widget_addon') }}
            {% endif %}
            {% if widget_btn_append|default(null) is not null %}
                {% set widget_btns = widget_btn_append %}
                {{ block('widget_btns') }}
            {% endif %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
    {% spaceless %}
        {% if form.parent == null %}
            {% if render_fieldset %}<fieldset>{% endif %}
            {% if show_legend %}{{ block('form_legend') }}{% endif %}
        {% endif %}

        {{ block('form_rows_visible') }}


        {{ form_rest(form) }}

        {% if form.parent == null %}
            {% if render_fieldset %}</fieldset>{% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block form_rows_visible %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="symfony-form-errors">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        {% for child in form %}
            {% if 'hidden' not in child.vars.block_prefixes %} {# smbdy: why do we not add the hiddens of childs? 131024 phiamo: i think form rest should do this !? it was afaik removed because it cause side effekts #}
                {{ form_row(child) }}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows_visible %}

 {% block form_legend %}
     {% spaceless %}
         {% if label is empty %}
             {%- if label_format is defined and label_format is not empty -%}
                 {% set label = label_format|replace({
                     '%name%': name,
                     '%id%': id,
                 }) %}
             {%- else -%}
                 {% set label = name|humanize %}
             {%- endif -%}
         {% endif %}
         <{{ legend_tag }}>{{ label|trans({}, translation_domain) }}</{{ legend_tag }}>
     {% endspaceless %}
 {% endblock form_legend %}

{% block form_label %}
    {% if ('checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'])  %}
        {% spaceless %}
            {% if label is not same as(false) and label_render and label is not empty%}
                {#{% if  %}#}
                    {#{%- if label_format is defined and label_format is not empty -%}#}
                        {#{% set label = label_format|replace({#}
                            {#'%name%': name,#}
                            {#'%id%': id,#}
                        {#}) %}#}
                    {#{%- else -%}#}
                        {#{% set label = name|humanize %}#}
                    {#{%- endif -%}#}
                {#{% endif %}#}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% set label_attr_class = '' %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ " " ~ label_attr_class ~ (required ? ' required' : ' optional'))|trim }) %}
                <label{% for attrname,attrvalue in label_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                    {{ label|trans({}, translation_domain) }}
                    {% if required %}<sup>*</sup>{% endif %}
                </label>
            {% endif %}
        {% endspaceless %}
    {% endif %}
{% endblock form_label %}

{% block checkbox_widget %}
    {% spaceless %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            <div class="checkbox">
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes and label_render %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {% endif %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            {% if label_render %}
                {% if inline_label %}{{ label | trans }}{% endif %}
                </label>
            {% endif %}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block form_errors %}
    {% spaceless %}
        {% set a = false %}
        {% for child in form.children  %}
            {% if child.vars.errors is defined %}
                {% set a = 'true' %}
            {% endif %}
        {% endfor %}
        {% if a == true %}
            <div class="alert">
                {% for children in form.children %}
                    {% if children.vars.errors is defined %}
                        {{  form_errors(children) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if errors|length > 0 %}
            <ul class="bg-danger text-white">
                {% for error in errors %}
                    {{
                    error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}